.container {
  display: flex;
  height: 100dvh;
}

.left {
  width: 40%;
  background-color: #000000;
  display: flex;
  align-items: center;
  justify-content: center;
}

.text-center {
  font-size: 72px;
  color: #FFFFFF;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100%;
  font-weight: 700;
}

.right {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: #F5F5F5;
  padding-top: 5px;
  padding-bottom: 5px;
}

.right-div {
  width: 80%;
  max-width: 400px;
}

.first-div {
  font-family: 'Montserrat', sans-serif;
  font-size: 36px;
  font-weight: 700;
  line-height: 44px;
  letter-spacing: 0em;
  text-align: left;
  padding: 0px;
  margin-bottom: 5px;
}

.simpletext {
  color: #000;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

.signinbutton {
  display: flex;
  margin-top: 26px;
  margin-bottom: 25px;
  justify-content: space-between;
}

.google-signin-button,
.apple-signin-button {
  border-radius: 10px;
  border-width: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  flex-direction: row;
  background-color: #FFFFFF;
  padding-top: 8px;
  padding-bottom: 8px;
  cursor: pointer;
  width: 47%; /* Adjusted the width for mobile devices */
}

.button-text {
  color: var(--secondary-text, #858585);
  text-align: center;
  font-size: 12px;
  font-family: 'Montserrat', sans-serif;
}

.google-icon {
  width: 27px;
  height: 27px;
  margin-right: 10px;
}

.apple-icon {
  width: 15px;
  height: 15px;
  margin-right: 10px;
}

form {
  display: flex;
  flex-direction: column;
  background-color: #FFFFFF;
  border-radius: 20px;
  padding: 30px;
  max-width: 390px;
}

form * {
  font-family: 'Lato', sans-serif;
  color: #000000;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}

form h3 {
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}

label {
  display: block;
  font-size: 16px;
  font-weight: 500;
}

input {
  display: block;
  font-size: 16px;
  border-radius: 10px;
  background: var(--background, #F5F5F5);
  color: #000;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 11px;
  padding-left: 15px;
  font-family: 'Lato', sans-serif;
}

::placeholder {
  color: #e5e5e5;
}

.forgot {
  margin-top: 20px;
  margin-bottom: 20px;
  color: var(--link, #346BD4);
  font-size: 16px;
  font-family: 'Lato', sans-serif;
}

.login-button {
  border-radius: 10px;
  color: #FFFFFF;
  background-color: #000;
  height: 40px;
  font-family: 'Lato', sans-serif;
  font-weight: 700;
}

.lasttext {
  color: #858585;
  text-align: center;
  font-size: 16px;
  font-family: 'Lato', sans-serif;
  margin-top: 20px;
}

.spantext {
  color: #346BD4;
  cursor: pointer;
}

@media screen and (max-width: 768px) {
  .container {
    flex-direction: column;
  }

  .left {
    width: 100%;
    height: 15%;
    justify-content: center;
  }

  .right {
    flex: 1;
  }

  .right-div {
    width: 90%;
    max-width: 300px;
  }

  .text-center {
    font-size: 36px;
  }

  .first-div {
    font-size: 24px;
  }

  .signinbutton {
    flex-direction: column;
  }

  .google-signin-button,
  .apple-signin-button {
    width: 100%;
    margin-bottom: 10px;
  }

  form {
    max-width: 300px;
  }

  .lasttext {
    margin-top: 10px;
    margin-bottom: 10px;
  }
}
