html,
body {
  height: 100%;
  margin: 0;
  background-color: #f5f5f5;
}

.app {
  padding-left: 2.5%;
  padding-right: 3.8%;
  display: flex;
  height: 96vh;
  padding-top: 0.8%;
  justify-content: space-between;
}

.container {
  flex-grow: 1;
  display: flex;
  align-self: center;
}

.navbar {
  background-color: #f0f0f0;
  padding-left: 3.5%;
  padding-top: 4.3%;
  padding-bottom: 3%;
  background-color: #000;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  padding-right: 6.3%;
}

.navbar ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

.content {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  height: 97%;
  margin-left: 4%;
  justify-content: space-between;
  padding-top: 1%;
}

.nav div {
  color: #fff;
}

.nav-text {
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
  margin-top: 5.5vh;
  color: #fff;
  display: flex;
  align-items: center;
}

.dashboard {
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  margin-top: 8vh;
  color: #fff;
  display: flex;
  align-items: center;
}

.board-text {
  font-size: 2.3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
  color: #fff;
}

.nav-img {
  margin-right: 1.3rem;
}

.bottom-nav {
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;
  color: #fff;
  margin-top: 2vh;
}

.row1 {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.upper-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.user-img {
  width: 1.6rem;
  height: 1.6rem;
  background: lightgray -1.2rem -0.2rem / 184% 128.552% no-repeat;
  border-radius: 50%;
}

.right-dashboard {
  color: #000;
  font-size: 1.3rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 900;
}

.notification {
  width: 1.4rem;
  height: 1.4rem;
  margin-left: 2rem;
  margin-right: 1.5rem;
}

.search {
  color: #555;
  display: flex;
  padding: 2px;
  border-radius: 10px;
  flex-direction: row;
}

input[type="search"] {
  border: none;
  background: transparent;
  margin: 0;
  padding: 5px 4px;
  font-size: 14px;
  color: inherit;
  border-radius: inherit;
}

input[type="search"]::placeholder {
  color: #bbb;
}

button[type="submit"] {
  text-indent: -999px;
  overflow: hidden;
  width: 40px;
  padding: 0;
  margin: 0;
  border: 1px solid transparent;
  border-radius: inherit;
  background: transparent url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' width='16' height='16' class='bi bi-search' viewBox='0 0 16 16'%3E%3Cpath d='M11.742 10.344a6.5 6.5 0 1 0-1.397 1.398h-.001c.03.04.062.078.098.115l3.85 3.85a1 1 0 0 0 1.415-1.414l-3.85-3.85a1.007 1.007 0 0 0-.115-.1zM12 6.5a5.5 5.5 0 1 1-11 0 5.5 5.5 0 0 1 11 0z'%3E%3C/path%3E%3C/svg%3E") no-repeat center;
  cursor: pointer;
  opacity: 0.7;
  color: #858585;
}

button[type="submit"]:hover {
  opacity: 1;
}

.search-text {
  color: var(--light-grey, #B0B0B0);
  font-size: 1rem;
  font-family: 'Lato', sans-serif;
}

.row2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.row3 {
  padding-left: 4%;
  padding-top: 1.5%;
  padding-bottom: 1.5%;
  padding-right: 4.3%;
  background-color: #fff;
  border-radius: 1.5rem;
}

.chart-info {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.7rem;
}

.chart-markup {
  display: flex;
}

.activity-text {
  color: #000;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight:bold;
}

.activity-date {
  color: var(--secondary-text, #858585);
  font-size: 0.9rem;
  font-family: 'Montserrat', sans-serif;
}

ul {
  list-style-type: none;
}

.guest-li {
  color: #000;
  font-size: 0.9rem;
  font-family: 'Lato', sans-serif;
  margin-right: 3rem;
}

.users-li {
  color: #000;
  font-size: 0.9rem;
  font-family: 'Lato', sans-serif;
}

.guest-li::before {
  content: '•'; /* Bullet character */
  margin-right: 0.5em; /* Adjust spacing between bullet and text */
  color: var(--light-red, #E9A0A0);
}

.users-li::before {
  content: '•'; /* Bullet character */
  color: var(--light-green, #9BDD7C);;
  margin-right: 0.5em; /* Adjust spacing between bullet and text */
}

.row4 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.card1 {
  background-color: #fff;
  border-radius: 1.5rem;
  padding: 1.2rem;
  padding-left: 4%;
  padding-right: 4%;
}

.card2 {
  background-color: #fff;
  border-radius: 1.5rem;
  padding: 1.2rem;
}


.schedule-box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.schedule-title {
  color: #000;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.see-all {
  color: var(--secondary-text, #858585);
  font-size: 0.8rem;
  font-family: 'Montserrat', sans-serif;
}

.pie-content {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.pie-details {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 15vh;
}

.pie-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 0.5vh;
}

.pie-heading {
  color: #000;
  font-size: 1.2rem;
  font-family: 'Montserrat', sans-serif;
  font-weight: 700;
}

.pie-head-date {
  color: var(--secondary-text, #858585);
  font-size: 1rem;
  font-family: 'Montserrat', sans-serif;
}

.toggle {
  position: fixed;
  bottom: 30px;
  left: 25px;
  z-index: 999;
  background-color: rgba(0, 0, 0, 0.582);
  border-radius: 50%;
  width: 20%;
  height: 10%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  font-weight: bold;
  border-width: 0;
}


@media screen and (max-width: 767px) {
  .app {
    padding-right: 2.5%;
  }
  .navbar {
    display: none;
    position: absolute;
    z-index: 99;
    width: 50%;
    height: 86%;
    padding: 5% 10%;
    margin: 0;
  }
  .content {
    margin-left: 0;
  }
  .right-dashboard {
    font-size: 1.5rem;
    margin-right: 20px;
    line-height: 50px;
  }
  .search {
    padding: 0;
    width: 120px;
  }
  button[type="submit"] {
    display: none;
  }

  .row2, .row3 {
    margin-top: 20px;
  }

  .row4 {
    display: block;
    width: 100%;
  }

  .card1, .card2 {
    margin-top: 20px;
  }
  .card2 {
    margin-bottom: 20px;
  }

  .row2 {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    justify-items: center;
  }
  
  .row2 > * {
    margin-bottom: 10px;
  }
  
}

@media screen and (min-width: 767px) {
  .card1, .card2 {
    width: 40%;
  }
  .toggle {
    display: none;
  }
}

.open {
  display: block;
  transition: left 0.3s ease;
}